<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar chapa</title>
    <link rel="stylesheet" href="/home/gabriel/projetoEscolaEuriny/escola/src/main/resources/static/css/paginaInicial.css">
</head>
<body>
    <header>
        <nav>
        <a href="/home/gabriel/projetoEscolaEuriny/escola/src/main/resources/templates/paginaInicial.html">Menu</a>
        <a href="/home/gabriel/projetoEscolaEuriny/escola/src/main/resources/templates/criar.html">Criar Chapa</a>
        <a href="/home/gabriel/projetoEscolaEuriny/escola/src/main/resources/templates/votar.html">Votar</a>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
<script src="/home/gabriel/projetoEscolaEuriny/escola/src/main/resources/static/js/gerenciar.js"></script>
</html>