<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urna</title>
    <link rel="stylesheet" href="/home/gabriel/projetoEscolaEuriny/escola/src/main/resources/static/css/votar.css">
</head>
<body>
    <header>
        <nav>
        <a href="/home/gabriel/projetoEscolaEuriny/escola/src/main/resources/templates/paginaInicial.html">Menu</a>
        <a href="/home/gabriel/projetoEscolaEuriny/escola/src/main/resources/templates/gerenciar.html">Editar Chapa</a>
        <a href="/home/gabriel/projetoEscolaEuriny/escola/src/main/resources/templates/criar.html">Criar Chapa</a>
        </nav>
    </header>
    <main>
    <h1>Escolha sua chapa</h1>
    <div id="listaChapas"></div>

    <div id="modalVoto" class="modal">
        <div class="modal-conteudo">
            <button id="fecharModal" class="fechar">×</button>
            <h2>Confirmar Voto</h2>
            <p id="nomeChapaVoto"></p>
            <form id="formVoto">
                <label for="raAluno">RA:</label>
                <input type="text" id="raAluno" required>
                <label for="senhaAluno">Senha:</label>
                <input type="password" id="senhaAluno" required>
                <p id="mensagemVoto"></p>
                <button type="submit" id="confirmarVoto">Votar</button>
            </form>
        </div>
    </div>
</main>
    <footer>

    </footer>
</body>
<script src="/home/gabriel/projetoEscolaEuriny/escola/src/main/resources/static/js/votar.js"></script>
</html>